.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(100, 1fr); */
  grid-column-gap: 5rem;
  grid-row-gap: 3rem;
  /* margin: 16px; */
  padding: 16px;
}
mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.bigger {
  font-size: 180px;
  width: 180px;
  height: 180px;
}
